.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: aquamarine;
    color: blueviolet;
}
.navbar-left{
    display: flex;
    gap: 30px;
    
}
.nav-link{
    text-decoration: none;
    color: brown;
    font-weight: 400;
    
    
}